AuthType Basic
AuthName "Proberaumsteuerung"
AuthUserFile /var/www/vhosts/wiewarmistesbei.exsilencio.de/.htpasswd
require valid-user

<Files ~ "\.py$">
Order allow,deny
Deny from all
</Files>
<Files ~ "settings.php">
Order allow,deny
Deny from all
</Files>
